<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
</head>
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
<body>
<div>
    <img src="{{ base_dir ~ asset('img/footer.png') }}">
</div>
</body>
</html>
