<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
</head>
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
<body>
    <img src="{{ base_dir ~ asset('img/header1.png') }}">
</body>
</html>
